<!doctype html>
<html lang="en">
  <head>
    <title>Радар ИТ инфраструктуры</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= PUBLIC_URL %>/images/favicon.ico" rel="icon" />
  </head>

  <body>
    <div class="hero-banner">
      <div class="hero-banner__wrapper">
        <h1 class="hero-banner__title-text">
          <a href="<%= PUBLIC_URL %>/">
            Радар ИТ инфраструктуры
          </a>
        </h1>
      </div>
    </div>
    <main>
      <div id="pdf-cover-page">
        <img class="pdf-banner-image" src="<%= PUBLIC_URL %>/images/banner-image-mobile.svg" alt="Pdf cover image" width="100%" height="200px" />
        <h1 class="pdf-title">Радар ИТ инфраструктуры</h1>
      </div>
      <div class="helper-description home-page">
        <span class="loader-text">
          <span class="loader-text__title">Загрузка радара...</span>
          <p>Радар будет готов через несколько секунд</p>
          <div class="loader-wrapper">
            <div style="animation-delay: 0s"></div>
            <div style="animation-delay: 0.25s"></div>
            <div style="animation-delay: 0.75s"></div>
            <div style="animation-delay: 0.5s"></div>
          </div>
        </span>
      </div>
      <div id="error-container" class="error-container home-page hidden"></div>

      <div id="content" class="block"></div>

      <div class="graph-header"></div>
      <div id="radar">
        <p class="no-blip-text">
          В этом квадранте элементов не найдено
        </p>
      </div>
      <div class="all-quadrants-mobile show-all-quadrants-mobile"></div>
      <div class="graph-footer"></div>
    </main>
    <footer class="home-page">

    </footer>
    <div class="pdf-page-footer">
      <div class="footer-right">
        Радар ИТ инфраструктуры, <span class="footer-date">dd/mm/yyyy</span> | <span class="footer-page-number">00</span>
      </div>
    </div>
  </body>
</html>
